html,
body {
  background-color: #447864;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  color: #d9d9d9;
}

main {
  min-height: calc(100vh - 88px);
}

h2 {
  text-align: center;
  margin-bottom: 0;
  text-decoration: underline;
}

.header-img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 150px;
  max-width: 150px;
}

.project-sec {
  margin: 0 auto;
  padding: 20px 0;
  max-width: 800px;
}

.project-desc {
  margin-left: 15px;
}

.container-sec {
  width: 100%;
  padding-top: 4px;
}

.inline-link {
  color: #d9d9d9;
}

.inline-link:hover {
  color: #68ebb9;
}

#name-plate {
  text-align: center;
}

#description {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  padding: 10px 0;
  text-align: center;
}

#icon-links {
  padding-top: 20px;
}

#icon-holder {
  display: flex;
  margin: 0 auto;
  max-width: 300px;
  justify-content: space-between;
}

#twitter-icon {
  font-size: 40px;
  color: #d9d9d9;
}

#twitter-icon:hover {
  color: #1da1f2;
}

#github-icon {
  font-size: 40px;
  color: #d9d9d9;
}

#github-icon:hover {
  color: #24292e;
}

#linkedin-icon {
  font-size: 40px;
  color: #d9d9d9;
}

#linkedin-icon:hover {
  color: #2867b2;
}

#blog-icon {
  font-size: 40px;
  color: #d9d9d9;
}

#blog-icon:hover {
  color: #68ebb9;
}

#resume-icon {
  cursor: pointer;
  color: #d9d9d9;
}

#resume-icon:hover {
  cursor: pointer;
  color: #68ebb9;
}

#footer-sec {
  background-color: #404040;
  padding: 10px 0;
  text-align: center;
}

.hidden_content {
  display: none;
  overflow: hidden;
  background-color: #4eaa87;
}

.collapse-btn {
  width: 100%;
  display: block;
  background-color: #68ebb9;
  font-size: large;
  outline: none;
  border: none;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
  padding: 18px;
}

.collapse-btn:hover {
  background-color: #50a584;
}

.collapse-btn-active {
  background-color: #68ebb9;
}

.collapse-btn:active {
  transform: translateY(4px);
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 100px) and (max-device-width: 648px) {
  .project-sec {
    display: block;
    margin: 0 auto;
    padding: 20px 5px;
    max-width: 800px;
  }

  .project-desc {
    margin-left: 8px;
    text-align: center;
  }

  .project-img {
    display: block;
    margin: 0 auto;
  }
}
