<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Jacob's Portfolio</title>
    <meta name="description" content="Home site for Jacob Scott" />
    <meta name="author" content="Jacob Scott (scott.jacob97@gmail.com)" />
    <link rel="stylesheet" href="/css/styles.css?v=1.0" />
    <link rel="stylesheet" href="/css/blog_styles.css?v=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
    <script
      src="https://kit.fontawesome.com/71ad1e1244.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/vs2015.min.css"
    />
  </head>
  <body>
    <br />
    <main>
      <section id="blog_content">
        <section id="blog_header">
          <a href="/" target="_blank">Home</a>
        </section>
        <content-here></content-here>
      </section>
    </main>
    <footer id="footer-sec">
      <p>
        powered by
        <a class="inline-link" href="https://pages.github.com/" target="_blank"
          >Github pages</a
        >
        | email is
        <a
          class="inline-link"
          href="mailto:scott.jacob97@gmail.com"
          target="_blank"
          >scott.jacob97@gmail.com</a
        >
      </p>
    </footer>
    <script src="/js/scripts.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
    <script>
      hljs.initHighlightingOnLoad();
    </script>
  </body>
</html>
